
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{username}}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css'%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js'%}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'learn:learnindex' %}">单词学习</a></li>
                <li><a href="{% url 'learn:mywordbook' %}">我的单词本</a></li>
                <li><a href="{% url 'learn:wordbook' %}">单词本</a></li>
                <li><a href="{% url 'learn:voctest' %}">单词考核</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'learn:mywordbook' %}">我的单词本</a></li>
                <li><a href="{% url 'learn:mywords' %}">自定义单词</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'learn:bdcsetting' %}">设置</a></li>
                <li><a href="{% url 'learn:logout' %}">退出</a></li>
              </ul>
            </div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      

    </div> <!-- /container -->

    <div class="container">

            <hr>
    
            <div class="row">
                <div class="col-sm-8">
                    <h2>LX背单词</h2>
                    <p>Word learning is not a day's work. It focuses on persistence, accumulation, and integration, accompanied by the entire process of language learning.There is no "scientific" learning method for word learning, and everyone can find a suitable method for him.</p>
                    <p>单词学习非一日之功，重在坚持和积累，融会贯通，伴随着语言学习的整个过程。单词学习没有“最科学的”学习方法，每个人可以找到他适合的方法。</p>
                    <p>
                        <a class="btn btn-default btn-lg" href="{% url 'learn:learnwords' %}">Go to Action &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>{{title}}</h2>
                    <address>
                        <strong>{{description}}</strong>
                        <br>单词总数：{{word_num}}
                        <br>作者：{{uploaded_user}}
                        <br>
                    </address>
                    <address>
                        <abbr title="今日计划">P:</abbr>今日单词：{{plan_num}}
                        <br>
                        <abbr title="已学">E:</abbr>已学习：{{learned_num}}
                    </address>
                </div>
            </div>
            <!-- /.row -->
    
            <hr>
                <div class="quote" id="quote">
                    <blockquote>
                        <p>
                            No affection but interest can be found in the world of animals.<br>
                            在动物的世界里，只有利益，没有感情。
                        </p>
                        <small>电影《动物世界》</small>
                    </blockquote>
                </div>
            <hr>
    
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center">Copyright &copy; Lucien Words</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
    
        </div>
        <!-- /.container -->
        


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
