
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{username}}的单词本</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css'%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js'%}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/wordbook.css'%}">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'learn:learnindex' %}">单词学习</a></li>
                <li><a href="{% url 'learn:mywordbook' %}">我的单词本</a></li>
                <li class="active"><a href="{% url 'learn:wordbook' %}">单词本</a></li>
                <li><a href="{% url 'learn:voctest' %}">单词考核</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'learn:mywordbook' %}">我的单词本</a></li>
                  <li><a href="{% url 'learn:mywords' %}">自定义单词</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'learn:bdcsetting' %}">设置</a></li>
                    <li><a href="{% url 'learn:logout' %}">退出</a></li>
              </ul>
            </div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-8 col-sm-8">
                <div class="well">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>
                        用户自定义单词
                      </h4>
                      <p>作者：{{username}}</p>
                    </div>
                  </div>
                  <div class="wordbook-contains-this-wordlist">
                    <p>
                        添加新单词：
                        <a class="btn btn-success btn-mini" href="#"  data-toggle="modal" data-target="#exampleModal" data-whatever="NewWord">添加</a>
                    </p>
                  </div>
                </div>

                <table class="table table-bordered table-striped">
                    <caption>* 该系列单词为用户自定义，不保证单词质量</caption>
                    <thead>
                        <tr>
                          <th>单词</th>
                          <th>意思</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for word in all_words %}
                        <tr>
                          <td><strong>{{word.spelling}}</strong></td>
                          <td>{{word.mean}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
          </div>
          <div class="col-md-4 col-sm-4">
            <!--边栏内容-->

            <div class="page-header">
                    <h3>系统单词书类型</h3>
            </div>
            <span class="hide" id="current-category-id">30</span>
            <ul class="nav nav-tabs nav-stacked">
                {% for book in wordbook_info %}
                    <li data="10"><a href="{% url 'learn:wordbookunit' %}?id={{book.wordbook_id}}">{{book.title}}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div> 
      </div>


    </div> <!-- /container -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">Copyright &copy; Lucien Words</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">添加自定义单词</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Spelling:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Meaning:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="save-btn">Save</button>
            </div>
          </div>
        </div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        $(function() {
            $('#myModal{{book.book_id}}').modal('hide')
        });
    </script>
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('自定义单词：' + recipient)
          modal.find('.modal-body input').val(recipient)
        })
    </script>
    <script>
        $('#save-btn').click(function(){
              $.ajax({
                        type: "POST",
                        url: "{% url 'learn:selfword' %}",
                        data: {'name': $('#recipient-name').val(), 'mean': $('#message-text').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: "json",
                        success: function(response) {
                          alert(response.msg);
                        },
                        error: function(rs, e) {
                            alert(rs.responseText);
                        }
                  }); 
            })
    </script>
  </body>
</html>
