
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{username}}的单词本</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css'%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js'%}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/wordbook.css'%}">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'learnindex' %}">单词学习</a></li>
                <li><a href="{% url 'mywordbook' %}">我的单词本</a></li>
                <li class="active"><a href="{% url 'wordbook' %}">单词本</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                    <li><a href="{% url 'mywordbook' %}">我的单词本</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'bdcsetting' %}">设置</a></li>
                <li><a href="#">退出</a></li>
              </ul>
            </div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div> <!-- /container -->

      <!-- Main component for a primary marketing message or call to action -->
      <div class="container">
        <div class="row">
          <div class="col-md-8">
                <div class="row wordbook-detail-container">
                        <div class="col-md-10">
                                <div class="wordbook-basic-info span3">
                                        <div class="wordbook-title" style="max-width: 300px;">
                                            <a href="wordbookunit?id={{wordbook_id}}">{{title}}</a>
                                        </div>
                                        <div class="wordbook-owner">
                                            <span>上传者： </span>
                                            
                                                <span class="wordbook-owner-username">{{uploaded_user}}</span>
                                            
                                        </div>
                                        <div class="wordbook-count">
                                            <span>单词数： </span>{{word_num}}<br/>
                                        </div>
                                        <div>
                                            <span>描述： </span>
                                            <a target="_blank">{{description}}</a>
                                        </div>
                                </div>
                        </div>
                        <div id="wordbook-save-div" class="col-md-2 col-sm-2">
                                <button class="btn btn-primary btn-lg" type="submit" id="wordbook-save-button"  name="save", value="{{wordbook_id}}">{{save_button_name}}</button>
                              </div>
                         </div>
            <!--主体内容-->
            {% for unit in allunits %}
            <div id="wordlist-" class="well">
                <div class="wordbook-create-wordlist-title" style="display: block">
                    <table width="100%">
                        <tr>
                            <td class="wordbook-wordlist-name">
                                <a href="wordbookunit/wordlist?id={{unit.unit_id}}">{{unit.unit_name}}</a>
                            </td>
                            <td align="right" class="wordbook-wordlist-count">
                                <span>单词数：</span>{{unit.word_num}}
                            </td>
                        </tr>
                    </table>
                </div>
            
                <div class="wordbook-create-wordlist-body">
                    <div class="info">
                        <table width="100%">
                            <tr>
                                <td>
                                     <span class="author">作者： {{uploaded_user}}</span> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-md-4">
            <!--边栏内容-->

            <div class="page-header">
                    <h3>单词书类型</h3>
            </div>
            <span class="hide" id="current-category-id">30</span>
            <ul class="nav nav-tabs nav-stacked">
                {% for book in wordbook_info %}
                    <li data="10"><a href="wordbookunit?id={{book.wordbook_id}}">{{book.title}}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div> 
      </div>
      <hr>
      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p class="text-center">Copyright &copy; Lucien Words</p>
              </div>
          </div>
          <!-- /.row -->
      </footer>


    <span id="wordbook-id-html" class="hide">{{wordbook_id}}</span>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js'%}"></script>
    <script>
        $('#wordbook-save-button').click(function(){
              $.ajax({
                        type: "POST",
                        url: "{% url 'wordbookunit' %}",
                        data: {'value': $(this).attr('value'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: "json",
                        success: function(response) {
                          $("#wordbook-save-button").html($("#wordbook-save-button").text() == '收藏' ? '已收藏' : '收藏');
                        },
                        error: function(rs, e) {
                               alert(rs.responseText);
                        }
                  }); 
            })
    </script>
  </body>
</html>
