
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{username}}的单词本</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css'%}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js'%}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/wordbook.css'%}">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li class="active"><a href="#">单词本</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="btn-group">
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">设置</a></li>
                <li><a href="#">退出</a></li>
              </ul>
            </div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-md-8">
                <div class="well">
                  <div class="row">
                    <div class="span6">
                      <h4>
                        {{title}}---{{unit}}  ({{word_num}} 个单词)
                      </h4>
                      <p>作者：{{uploaded_user}}</p>
                    </div>
                  </div>
                  <div class="wordbook-contains-this-wordlist">
                    <p>
                        该单元属于单词书：
                        <a href="{% url 'wordbookunit' %}?id={{wordbook_id}}">{{title}}</a>
                        <a class="btn btn-success btn-mini" href="{% url 'wordbookunit' %}?id={{wordbook_id}}">查看</a>
                    </p>
                  </div>
                </div>

                <table class="table table-bordered table-striped">
                    <caption>{{unit}}</caption>
                    <thead>
                        <tr>
                          <th>单词</th>
                          <th>意思</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for word in all_words %}
                        <tr>
                          <td><strong>{{word.spelling}}</strong></td>
                          <td>{{word.mean}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
          </div>
          <div class="col-md-4">
            <!--边栏内容-->

            <div class="page-header">
                    <h3>单词书类型</h3>
            </div>
            <span class="hide" id="current-category-id">30</span>
            <ul class="nav nav-tabs nav-stacked">
                {% for book in wordbook_info %}
                    <li data="10"><a href="{% url 'wordbookunit' %}?id={{book.wordbook_id}}">{{book.title}}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div> 
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
